<div class="container-fluid">
  <header>
    <h3 class="row justify-content-center">
      Study Scheduling Application
    </h3>
  </header>
  <nav class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/sc']" routerLinkActive="">
        Schedule</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" [routerLink]="['/ups']" routerLinkActive="">
          Update Schedule</a>
      </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/rml']">Rooms</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/dcl']">Doctors</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" [routerLink]="['/ptl']">Patients</a>
      </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/ap']" routerLinkActive="active">
        Add Patient</a>
    </li>
  </nav>
  <div class="row justify-content-center">
    <router-outlet> </router-outlet>
  </div>
</div>