<div class="container-fluid">
  <header>
    <h3 class="row justify-content-center">
      Study Scheduling Application
    </h3>
  </header>
  <nav class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/schedule']" routerLinkActive="">
        Schedule</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/rl']">Rooms</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/dc']">Doctors</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/addPatient']" routerLinkActive="active">
        Add Patient</a>
    </li>
  </nav>
  <div class="row justify-content-center">
    <router-outlet> </router-outlet>
  </div>
</div>